<article>
    <div class="like-dislike-article">
        <div class="d-flex">
            <div class="col-left">&nbsp;</div>
            <div>
                <h5>{{ article.title }}</h5>
            </div>
        </div>
        <div class="d-flex">
            <div class="col-left">
                <app-like-dislike [likes]="article.likes || 0" (like)="onLike()" (dislike)="onDislike()"></app-like-dislike>
            </div>
            <div>
                <div>
                    {{ article.text }}
                </div>
                <app-tags [tags]="article.tags"></app-tags>
            </div>
        </div>
    </div>

</article>
